# exclude all
/*

# inlucde important git files
!.gitignore

# include important github files
!LICENSE
!README.md

# include snippets
!Snippets

# include all python files
!*.py
!tests
!unittesting.json
# exclude compiled python files
*.pyc

# include path detection
!path

# include completion feature
!completion

# include coloring
!color

# include messaging
!messages/
!messages.json

# include theming
!theme
!*.hidden-tmTheme

# include http
!http/
!web/

# include install package which handles installing skins
!install

# include important sublime text files
!*.sublime-build
!*.sublime-commands
!*.sublime-completions
!*.sublime-settings
!*.sublime-syntax
!*.sublime-menu
!*.sublime-keymap
!*.tmPreferences

# include important PackageControl files
!packages.json
!dependencies.json

# include important build system files
!appveyor.yml
!gradle
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle

# include check system files
!.landscape.yaml
