# exclude all
/*

# inlucde important git files
!.gitignore

# include important github files
!LICENSE
!README.md

# include completion feature
!completion

# include snippets
!Snippets

# include misc
!lib
!yaml

# include path detection
!path

# include all python files
!*.py
!tests
# exclude compiled python files
*.pyc

# include coloring
!color/

# include theming
!theme
!*.tmTheme
!*.hidden-tmTheme

# include important sublime text files
!*.sublime-build
!*.sublime-commands
!*.sublime-completions
!*.sublime-settings
!*.sublime-syntax
!*.sublime-menu
!*.sublime-keymap
!*.tmPreferences

# include important PackageControl files
!packages.json
!dependencies.json

# include important build system files
!.travis.yml
!appveyor.yml
!requirements.txt
!gradle
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle
